@CHARSET "UTF-8";
/*覆盖原有样式*/
.navbar-brand {
/* 	background: url(../images/ydlog_short.jpg) no-repeat scroll left center/60px */
/* 		60px; */
/* 	padding-left: 70px; */
}

.sub-header {
	padding-bottom: 5px;
}

.header {
	padding-top: 10px;
}

h2,.h2 {
	font-size: 14px;
	font-weight: bold;
	color: #003333;
	margin-top: 5px;
	margin-bottom: 5px;
}

.box {
	padding-left: 2px;
	padding-right: 5px;
	backgroud-color: #CCFFCC;
}

.navbar-inverse {
	background-color: #003333;
	font-size: 14px;
	font-weight: bold;
}

.table>thead {
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	background-color:;
}

.table>tbody>tr>td {
	padding: 4px;
}

/*左侧公告消息面板 */
.sidebar-bulletin {
	font-size: 12px;
}

.sidebar-bulletin a {
	color: #0b0b0b;
}

.panel-body {
	background-color: #ffffff;
}

.panel-bulletin {
	border-color: #d6e9c6;
}

.panel-bulletin>.panel-heading {
	color: #fff;
	background-color: #2ecc71;
	border-color: #2ecc71;
}

.panel-bulletin>.panel-heading+.panel-collapse>.panel-body {
	border-top-color: #d6e9c6;
}

.panel-bulletin>.panel-heading .badge {
	color: #dff0d8;
	background-color: #3c763d;
}

.panel-bulletin>.panel-footer+.panel-collapse>.panel-body {
	border-bottom-color: #d6e9c6;
}

/*左侧操作面板*/
.panel-oper {
	border-color: #d6e9c6;
}

.panel-oper>.panel-heading {
	color: #fff;
	background-color: #1abc9c;
	border-color: #1abc9c;
}

.panel-oper>.panel-heading+.panel-collapse>.panel-body {
	border-top-color: #d6e9c6;
}

.panel-oper>.panel-heading .badge {
	color: #dff0d8;
	background-color: #3c763d;
}

.panel-oper>.panel-footer+.panel-collapse>.panel-body {
	border-bottom-color: #d6e9c6;
}

/*左侧最近项目面板*/
.sidebar-message {
	font-size: 12px;
}

.sidebar-message a {
	color: #0b0b0b;
	padding-left: 25px;
}

.sidebar-message .case {
	background: url(../images/gwb.jpg) no-repeat left center/20px 20px;
}

.sidebar-message .user {
	background: url(../images/user.jpg) no-repeat left center/20px 20px;
}

.sidebar-message .opp {
	background: url(../images/opp.jpg) no-repeat left center/20px 20px;
}

.sidebar-message li {
	margin-bottom: 4px;
}

/*未读消息*/
.navbar-unread {
	background-color: #e74c3c;
	border-radius: 30px;
	color: white;
	/*    display: none; */
	font-size: 12px;
	font-weight: 500;
	line-height: 18px;
	min-width: 8px;
	padding: 0 5px;
	position: absolute;
	right: -7px;
	text-align: center;
	text-shadow: none;
	top: 8px;
	z-index: 10;
}

/*左侧搜索*/
.select {
	width: 100%;
	margin-bottom: 5px;
	border-color: #1abc9c;
	border-radius: 4px;
}

.search {
	background: url(../images/flat-ui/todo/search.png) no-repeat scroll 92%
		center/16px 16px;
	border-color: #1abc9c;
}

/*表格逐行换色*/
.table-striped>tbody>tr:nth-child(2n+1)>td,.table-striped>tbody>tr:nth-child(2n+1)>th
	{
	background-color: #FFFFEA;
}

/*警告、消息等颜色*/
.warning {
	color: red;
}

.icon-in-table {
	font-size: 14px;
	margin-right: 2px;
}